<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LogUser</servlet-name>
        <servlet-class>LaptopPackage.LogUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCart</servlet-name>
        <servlet-class>LaptopPackage.AddCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelCart</servlet-name>
        <servlet-class>LaptopPackage.DelCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pay</servlet-name>
        <servlet-class>LaptopPackage.Pay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>A_Out</servlet-name>
        <servlet-class>LaptopPackage.A_Out</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelOrder</servlet-name>
        <servlet-class>LaptopPackage.DelOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Feedback</servlet-name>
        <servlet-class>LaptopPackage.Feedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutUser</servlet-name>
        <servlet-class>LaptopPackage.LogOutUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogAdmin</servlet-name>
        <servlet-class>LaptopPackage.LogAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogAdminChoice</servlet-name>
        <servlet-class>LaptopPackage.LogAdminChoice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>A_User</servlet-name>
        <servlet-class>LaptopPackage.A_User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>A_Products</servlet-name>
        <servlet-class>LaptopPackage.A_Products</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>A_Payments</servlet-name>
        <servlet-class>LaptopPackage.A_Payments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>A_Cart</servlet-name>
        <servlet-class>LaptopPackage.A_Cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>A_Orders</servlet-name>
        <servlet-class>LaptopPackage.A_Orders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>A_Feedbacks</servlet-name>
        <servlet-class>LaptopPackage.A_Feedbacks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>A_UserDel</servlet-name>
        <servlet-class>LaptopPackage.A_UserDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>A_ProDel</servlet-name>
        <servlet-class>LaptopPackage.A_ProDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>A_PayDel</servlet-name>
        <servlet-class>LaptopPackage.A_PayDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>A_OrderDel</servlet-name>
        <servlet-class>LaptopPackage.A_OrderDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>A_CartDel</servlet-name>
        <servlet-class>LaptopPackage.A_CartDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>A_FeedDel</servlet-name>
        <servlet-class>LaptopPackage.A_FeedDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>A_UserEdit</servlet-name>
        <servlet-class>LaptopPackage.A_UserEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>A_UserEdit2</servlet-name>
        <servlet-class>LaptopPackage.A_UserEdit2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>A_ProEdit</servlet-name>
        <servlet-class>LaptopPackage.A_ProEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>A_ProEdit2</servlet-name>
        <servlet-class>LaptopPackage.A_ProEdit2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>LaptopPackage.AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct2</servlet-name>
        <servlet-class>LaptopPackage.AddProduct2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogUser</servlet-name>
        <url-pattern>/LogUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>A_Out</servlet-name>
        <url-pattern>/A_Out</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCart</servlet-name>
        <url-pattern>/AddCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelCart</servlet-name>
        <url-pattern>/DelCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pay</servlet-name>
        <url-pattern>/Pay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelOrder</servlet-name>
        <url-pattern>/DelOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Feedback</servlet-name>
        <url-pattern>/Feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutUser</servlet-name>
        <url-pattern>/LogOutUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogAdmin</servlet-name>
        <url-pattern>/LogAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogAdminChoice</servlet-name>
        <url-pattern>/LogAdminChoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>A_User</servlet-name>
        <url-pattern>/A_User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>A_Products</servlet-name>
        <url-pattern>/A_Products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>A_Payments</servlet-name>
        <url-pattern>/A_Payments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>A_Cart</servlet-name>
        <url-pattern>/A_Cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>A_Orders</servlet-name>
        <url-pattern>/A_Orders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>A_Feedbacks</servlet-name>
        <url-pattern>/A_Feedbacks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>A_UserDel</servlet-name>
        <url-pattern>/A_UserDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>A_ProDel</servlet-name>
        <url-pattern>/A_ProDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>A_PayDel</servlet-name>
        <url-pattern>/A_PayDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>A_OrderDel</servlet-name>
        <url-pattern>/A_OrderDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>A_CartDel</servlet-name>
        <url-pattern>/A_CartDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>A_FeedDel</servlet-name>
        <url-pattern>/A_FeedDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>A_UserEdit</servlet-name>
        <url-pattern>/A_UserEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>A_UserEdit2</servlet-name>
        <url-pattern>/A_UserEdit2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>A_ProEdit</servlet-name>
        <url-pattern>/A_ProEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>A_ProEdit2</servlet-name>
        <url-pattern>/A_ProEdit2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/AddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct2</servlet-name>
        <url-pattern>/AddProduct2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
